<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Forum Workshop</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            <h1>OMAC</h1>
        </header>
        <nav class="main-nav">
            <a class="main-active">TOPICS</a>
            <span>|</span>
            <a href="">MEMBER</a>
            <span>|</span>
            <a href="">PROFILE</a>
        </nav>
        <main>
            <section>
                <nav class="sub-nav">
                    <a class="sub-active">All Topics</a>
                    <a class="sub-links" href="">My Topics</a>
                </nav>
            </section>
            <section class="topics">
                <p><cite><a href="">Title of Topic01</a></cite>
                    <br><span class="member">Member01</span></p>

                <p><cite><a href="">Title of Topic02</a></cite>
                    <br><span class="member">Member21</span></p>

                <p><cite><a href="">Title of Topic03</a></cite>
                    <br><span class="member">Member05</span></p>

                <p><cite><a href="">Title of Topic04</a></cite>
                    <br><span class="member">Member07</span></p>

                <p><cite><a href="">Title of Topic05</a></cite>
                    <br><span class="member">Member50</span></p>

                <p><cite><a href="">Title of Topic06</a></cite>
                    <br><span class="member">Member42</span></p>

            </section>
        </main>
        <footer>
            <p>&copy; Copyright 2018 by OMAC Full Stack Workshop</p>
        </footer>
    </body>
</html>
