<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Forum Workshop</title>
    </head>
    <body>
        <header>
            <h1>OMAC</h1>
            <hr>
        </header>
        <nav>
            <h2>
                TOPICS
                <em>
                    <a href="">MEMBERS</a>
                    <a href="">PROFILE</a>
                </em>
            </h2>
            <hr>
        </nav>
        <main>
            <section>
                <h3>
                    All Topics
                    <em>
                        <a href="">My Topics</a>
                    </em>
                </h3>
            </section>
            <section>
                <p><cite><a href="">Title of Topic01</a></cite>
                    <br><sup>Member01</sup></p>

                <p><cite><a href="">Title of Topic02</a></cite>
                    <br><sup>Member21</sup></p>

                <p><cite><a href="">Title of Topic03</a></cite>
                    <br><sup>Member05</sup></p>

                <p><cite><a href="">Title of Topic04</a></cite>
                    <br><sup>Member07</sup></p>

                <p><cite><a href="">Title of Topic05</a></cite>
                    <br><sup>Member50</sup></p>

            </section>
            <hr>
        </main>
        <footer>
            <p>&copy; Copyright 2018 by OMAC Full Stack Workshop</p>
        </footer>
    </body>
</html>
